body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');

body,
.content,
.workspace,
.markdown-preview-view,
.markdown-source-view {
    font-family:
        'Noto Serif SC',
        'Source Han Serif SC',
        'Noto Serif CJK SC',
        'Songti SC',
        'SimSun',
        serif !important;
}
code[class*='language-'], pre[class*='language-'] {
  font-family: var(--font-default) !important;
  text-shadow: none !important;
  -webkit-text-stroke: 0 !important;
}
